################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Generics/bin/
/Generics/obj/
/Delegates/bin/
/Delegates/obj/
/LambdaExpressions/bin/
/LambdaExpressions/obj/
